body {
	background:#E3E3E3;
}
#wrapper {
	width:920px;
	margin: 0 auto;
}
#scorecardContainer {
	display:inline-block;
	border:solid #C5C5C5;
	background: #FFF;
	width: 400px;
	float:left;
	padding:5px 10px;
	margin-right:10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#outputScoresContainer {
	display:inline-block;
	border:solid #C5C5C5;
	background: #FFF;
	padding:10px;
	width:430px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.scorecardOutput {
	width:331px;
	margin:10px auto;
}
h2 {
	text-align:center;
	font: normal 25px/100% Verdana, Tahoma, sans-serif;
}
input[type="text"] {
	padding:2px 4px;
	margin: 5px 0px;
	border: solid 1px #C5C5C5;
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 2px;  
 	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 2px;  
 	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 2px;
	background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 25px);
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type="submit"].addScoreBtn {
	height:30px;
	margin:1px 20px 0px 0px;
	padding: 5px 9px;
	background: #347C17;
	font: normal 16px/100% Helvetica, Tahoma, sans-serif;
	color: #E9E9E9;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type="submit"].deleteBtn {
	height:20px;
	padding: 2px 5px;
	font: normal 12px/100% Helvetica, Tahoma, sans-serif;
	background:#E41B17;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:inline-block;
	margin: 0px 5px;
	color: #E9E9E9;
}
.holeInput, .holeInputLabel {
	display:inline-block;
	text-align:center;
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
}
.holeInput {
	width:20px;
}
.holeInputLabel {
	width:30px;
	color: #666;
}
.totalInput, .totalInputLabel {
	display:inline-block;
	text-align:center;
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
}
.totalInput {
	width:26px;
}
.totalInputLabel {
	width:75px;
}
.proLabel {
	font: normal 16px/100% Verdana, Tahoma, sans-serif;
	display:inline-block;
	width:80px;
	text-align: center;
}
.dateOutputLabel, .dateOutput {
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
	display:inline-block;
	width:150px;
	text-align:center;
}
.dateOutputLabel {
	font: bold 18px/100% Verdana, Tahoma, sans-serif;
	padding:5px 0px;
}
.totalOutputLabel, .totalOutput {
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
	display:inline-block;
	width: 64px;
	text-align: center;
	margin: 5px 0px;
}
.totalOutput {
	width:28px;
	border: solid 1px #C5C5C5;
	padding:3px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 25px);
}
.totalOutputLabel {
	font: bold 18px/100% Verdana, Tahoma, sans-serif;
	padding:5px 20px 5px 0px;	
}
.proOutputLabel, .proOutput {
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
	display:inline-block;
	text-align:center;
	width:100px;
	margin: 5px 0px;
}
.proOutputLabel {
	font: bold 18px/100% Verdana, Tahoma, sans-serif;
	padding:5px 0px;
}
.deleteBtn, .showBtn {
	display: inline-block;
}
.holeOutput, .holeLabelOutput {
	font: normal 15px/100% Verdana, Tahoma, sans-serif;
	color: #666;
	display:inline-block;
	width:31px;
	text-align:center;
	margin-bottom:3px;
}
.holeOutput {
	border: solid 1px #C5C5C5;
	color:#000;
	width:29px;
	margin-bottom:4px;
	padding:3px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 25px);
}

#frontNine, #backNine {
	margin:10px 0px;
}