<div class="pagesContainer">
<p>
	
	This is a project that I'm pretty much hacking together cause me and some of my friends
	thought it would be a cool thing to have.<br /><br />
	
	We thought that if it was cool then maybe other people would too, so I'm just throwing 
	it out there for anyone to use and enjoy.<br /><br />
	
	Might make it open source too, haven't decided yet.<br /><br />
	
	- cjw 
	
</p>
</div>