<!DOCTYPE html>
<html>
<head>
  <title>DiscGolf</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'scorecard' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <%= yield %>
</div>
</body>
</html>
